* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color:  rgb(14, 14, 14);
}

header{
    position: sticky;
    top: 0;
    z-index: 999;
    background-color:rgb(14, 14, 14);
    border-radius: 0 0 30px 30px;
}

.logo{
    width: 450px;
}

.navbar ul{
    background: linear-gradient(to right, rgb(40, 212, 184) , white, white, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content:flex-start;
    gap: 30px;
    align-items: center;
    padding: 10px 50px;
    border-bottom: solid 1px rgb(61, 61, 61);
    border-radius: 0 0 30px 30px;
}

.navbar ul li{
    background-color: transparent;
    padding: 10px 15px;
    list-style-type: none;
}

.navbar a{
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    transition: 0.3s;
}
.navbar a:hover{
    font-size: 23px;
}


.home-content{
    width:100%;
    height: 100vh;
    background-color: rgb(14, 14, 14);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home-title{
    text-align: left;
    width: 600px;
}

.home-title h3{
    font-size: 25px;
    background: linear-gradient(to right, white, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 

.home-title h1{
    font-size: 80px;
    background: linear-gradient(to right, red, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 


.home-title a{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    background: linear-gradient(to right, rgb(40, 212, 184), rgb(30, 97, 86));
    padding: 15px 20px;
    box-shadow: 0 0 10px gb(40, 212, 184);
    border-radius: 30px;
    font-size: 13px;
    margin-top: 20px;
    transition: 0.3s;
}

.home-title a:hover{
    background-color: rgb(49, 189, 199);
    box-shadow: 0 0 25px rgb(49, 189, 199);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.home-element{
    font-size: 20vw;
    max-width: 100%;
}

.group{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.group-content h2{
    font-size:60px;
}
.group-content ul{
    padding: 20px 0;
    font-size: 30px;
    list-style-type: none;

}

.main-content{
    padding: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.content{
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.pengertian{
    text-align: center;
    width: 85%;
    padding: 30px;
    border: 1px solid rgb(40, 212, 184);
    background: linear-gradient(to right,rgb(34, 176, 152), rgb(14, 77, 57));
    border-radius: 30px;
}

.pengertian h2{
    font-size: 50px;
    background: linear-gradient(to right, white, rgb(173, 192, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.pengertian p{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.pengertian .rumus{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(to right, rgb(173, 192, 0), white, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.materi{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

.materi-content{
    width: 100%;
    text-align: center;
}

.materi h2{
    font-size: 50px;
    background: linear-gradient(to right, white, white, rgb(40, 212, 184), rgb(40, 212, 184));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.preprocessing h2{
    font-size: 35px;
    background: linear-gradient(to right,  rgb(40, 212, 184), white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.data-collection h2{
    font-size: 35px;
    background: linear-gradient(to right,  rgb(40, 212, 184), white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.model-development h2{
    font-size: 35px;
    background: linear-gradient(to right,  rgb(40, 212, 184), white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.model-development .rumus-regresi{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
    padding: 13px;
    background-color:white;
    border-radius: 7px;
    color: black;
}

.model-development q{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
}

.model-evaluation h2{
    font-size: 35px;
    background: linear-gradient(to right,  rgb(40, 212, 184), white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.model-evaluation ul{
    text-align: left;
    margin: 0 50px;
}

.model-evaluation ul li{
    list-style-type: none;
    margin-bottom: 30px;
    font-size: 18px;
    padding: 0 70px;
}

.model-evaluation ul li b{
    background-color: rgba(240, 248, 255, 0.11);
    border-radius: 5px;
    padding: 5px;
}

.evaluation ul{
    display: flex;
    margin: 0 50px;
}

.evaluation ul li{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 27px;
    font-weight: bold;
}

.model-deployment h2{
    font-size: 35px;
    background: linear-gradient(to right,  rgb(40, 212, 184), white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.materi-content p{
    padding: 0 120px;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 35px;
    text-align: left;
}

.materi-unduh{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
}

.unduh-dataset{
    font-size: 13px;
    font-weight: bold;
    border: 2px solid rgb(40, 212, 184);
    border-radius: 30px;
    padding: 15px 20px;
}

.unduh-dataset:hover{
    border: none;
    background: linear-gradient(to right, rgb(40, 212, 184), rgb(30, 97, 86));
    padding: 15px 20px;
    transition: 0.3s;
    font-size: 15px;
    cursor: pointer;
}

.chart{
    width: 100%;
}

.chart-content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart h2{
    text-align: center;
    font-size: 30px;
    background: linear-gradient(to right, white, white, red, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.chart-content iframe{
    width: 60%;
    height: 85vh;
    border-radius: 10px;
}

footer{
    background-color: rgb(14, 14, 14);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

footer p{
    font-size: 13px;
}

footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 0;
}

footer ul li{
    list-style-type: none;
}

footer ul li a{
    text-decoration: none;
    font-size: 14px;
    color: white;
    transition: 0.3s;
}

.diamond {
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 40%;
    box-shadow: 0 0 15px 10px rgb(183, 3, 3);
  }
  
.diamond img {
width: 100%;
height: 100%;
object-fit: cover;
}

.form-content{
    width: 100%;
}

.form-container{
    border-radius: 30px ;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.prediction-form input{
    padding: 10px 30px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid rgb(40, 212, 184);
    background-color: transparent;
}

table td{
    font-size: 20px;
    text-align: right;
    padding: 0 10px;
}

.form-content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


   

.form-container h2{
    font-size: 50px;
    background: linear-gradient(to right, rgb(40, 212, 184), rgb(45, 181, 223));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.prediction-form button{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 30px;
    border: none;
    background-color: rgb(40, 212, 184);
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.prediction-form button:hover{
    background-color: rgb(33, 182, 157);
    font-size: 23px;
}

.tentang{
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    background-color: ;
    background: linear-gradient(to bottom, rgb(14, 14, 14), rgb(104, 164, 182));
}

.tentang h2{
    font-size: 30px;
    background: linear-gradient(to right, rgb(137, 208, 218), rgb(83, 154, 176));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tentang .tentang-text{
    padding: 0 120px;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 35px;
    text-align: center;
}

.footer{
    padding:20px;
    margin:0;
    background: linear-gradient(to bottom,rgb(104, 164, 182), rgb(45, 181, 223));
}